export POSTGRES_NAME=postgres
export POSTGRES_USER=postgres
export POSTGRES_PASSWORD=postgres
export MAILGUN_APIKEY=<>
export MAILGUN_DOMAIN=<>
export MAILGUN_SENDER_EMAIL=<>
export DEFAULT_OWNER_ID=<>